*{
    margin: 0;
    padding: 0;
}

/* first section */
.banner{
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}
.banner-title{
    font-size: 53px;
    font-weight: 700;
    color: #272727;
}
.banner-des{
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.banner-btn{
    background-color: #E55473;
    font-size:13px ;
    font-weight: 600;
    padding: 13px 27px;
    border-radius:5px ;
    border: none;
}
.banner-text{
    width: 474px;
    height: 340px;
    margin: 131px 64px 98px 160px;
}
.banner-img{
    width: 425px;
    height: 535px;
    
}
.banner-image{
    margin: 34px 160px 0 0;

}